<div style="width: 80%; margin-left: 5%">
<p>
Documentation for IceCondor on the T-Mobile G1 phone, powered by Android.
</p>

<p>
<%= image_tag 'docs/radar-menu.png', :style => "float: right" %>
IceCondor is an RSS Feed reader. RSS feeds that include map coordinates
are called GeoRSS feeds. By reading a variety of GeoRSS feeds, a
mashup of location data shows up on the map.
</p>

<p>
Some types of GeoRSS feeds that can be used with IceCondor are:
</p>
<ul>
  <li>Someone's check-ins on brightkite.com or shizzow.com </li>
  <li>Tracking the next event in your upcoming.org calendar </li>
</ul>

<p>
The following steps show how to add an RSS feed on IceCondor.
</p>

<p>
Step 1: Install IceCondor on your T-Mobile G1 phone from the Android Market.
</p>
<p>
Step 2: Start IceCondor and press Menu (See the image).
</p>
<p>
Step 3: Tap on the GeoRSS menu item
</p>
<br class="clear" />
<br class="clear" />
<%= image_tag 'docs/empty-rss-list.png', :style => "float: right; margin-right: 16px" %>
<p>
Step 4: Tap on Add URL
</p>

<br class="clear" />
<br class="clear" />
<%= image_tag 'docs/choose-shizzow.png', :style => "float: right; margin-right: 16px" %>
<p>
Step 5: Select a service. IceCondor comes with a helper to create a URL to follow
someone on popular services such as brightkite.com, and shizzow.com.
</p>

<br class="clear" />
<br class="clear" />
<%= image_tag 'docs/shizzow-friend.png', :style => "float: right; margin-right: 16px" %>
<p>
Step 6: Enter the username of the friend who checks into shizzow and press ADD.
</p>
<br class="clear" />
<br class="clear" />
<%= image_tag 'docs/rss-upcoming.png', :style => "float: right; margin-right: 16px" %>
<p>
For services with no helper, choose the RSS option and then enter the URL manually.
The URL displayed is an example URL to read events from upcoming.org, a popular
calendaring service.
</p>
<br class="clear" />
<br class="clear" />
<%= image_tag 'docs/upcoming-event.png', :style => "float: right; margin-right: 16px" %>
<p>
Return to the Radar screen by pressing Menu and tap on the Radar item.
</p>
<p>
Each red marker is the most recent entry from each RSS feed. Tap on the marker
to see a temporary on-screen message that describes the marker.
</p>
<br class="clear" />
</div>
