<div class="mapfloatheading">
  <div class="mapfloatcontent">
    <p id="title">
      IceCondor
    </p>
    <p id="subtitle">
      Continuous location tracking for Android phones. 
      <%= link_to "Download here", :controller => :dashboard, :action => :clients %>
    </p>

    <%= flash[:notice] %>

    <p>
      <span id="titlelist">Recent Public Updates</span>
    <table>
    <% @locations.each do |ary| %>
      <tr>
        <td><%= image_tag "http://labs.google.com/ridefinder/images/mm_20_#{MapHelper::COLORS[ary.last.user.id % MapHelper::COLORS.size]}.png" %></td>
        <td><%= link_to ary.last.user.openidentities.first.url, "/locations.html?id=#{ary.last.user.openidentities.first.url}" %></td>
        <td> <%= time_ago_in_words(ary.first.timestamp) %> ago </td></tr>
    <% end %>
    </table>
    </p>
  </div>
</div>


<%= google_map(@locations, :width => "100%", :height => "500px", 
               :controls => [:zoom],
               :inject_on_load => <<__JS__, :partial => "location") 
__JS__
%>
