<% user = current_user %>

<div class="folderfolder">
 
 <div class="folder">
  <h4> Position </h4>
  <% if user.locations.count > 0 %>
  Last update: <%= time_ago_in_words(user.locations.last.created_at) %> ago <br/>
  <% end %>
  Location records: <%= number_with_delimiter(Location.count_for_user(user)) %>  <br/>
  <% if user.locations.last 
       ifences = user.inside_fences%>
      Inside Fence<%= ifences.size > 1 ? 's' : '' %>: 
      <%= ifences.map{|inside_fence| inside_fence.name}.join(',') %> <br/>
      <% if user.blur? %>
        Position Blur is on.
      <% end %>
  <% end %>
 </div>

 <div class="folder">
  <h4> Maps </h4>
  <%= link_to "Desktop Edition Map", "/locations?id=#{user.openidentities.first.url}" %> <br/>
  <%= link_to "Mobile Edition Map", "/m?id=#{user.openidentities.first.url}" %> <br/>
  <%= link_to "Day Chart", "/daychart?id=#{user.openidentities.first.url}" %> <br/>
 </div>

 <div class="folder">
  <h4> Profile </h4>
  OpenID: 
  <% user.openidentities.each do |openid| %>
    <%= openid.url %> <br/>
  <% end %>
   Username: <%= user.username %> <br/>
   <!-- Time zone: <%= user.timezone %> <br/> -->
 </div>
 <br clear="all" />

 <div class="folder">
  <h4> Access </h4>
  Status: <b><%= user.access_status %></b> <br/>
  <% form_for :user, user, :url=>{:controller => :users, :action => user.username}, :html => { :method => :put } do |f| %>
  Change status:
    <%=  radio_button_tag "user[access_status]", :public, user.access_status == 'public' %> public
    <%=  radio_button_tag "user[access_status]", :private, user.access_status == 'private' %> private
    <%= submit_tag "Save"%>
  <% end %>
  Private - Only you can see your map page<br/>
  Public - Anyone can see your map page<br/>
 </div>

 <div class="folder">
  <h4> GeoFences <%= link_to "+", new_fence_path, :class => "bigplus" %> </h4>
  <ul id="fencelist">
    <% user.fences.each do |fence| %>
      <li> <span><%= link_to truncate(fence.name, :length => 20), edit_fence_path(fence) %> 
           <% if user.locations.last %>
           - <%= fence.contains?(user.locations.last) ? "<span class=\"inside\">Inside</span>" : "<span class=\"outside\">Outside</span>" %> 
           <% end %>
           - <%= fence.count_points-1 %> pts 
           - <%= "%0.2f" % (fence.area_in_sq_ft) %> sq.km. 
           <%= link_to "delete", fence, :method => :delete, :class => "commandword" %>
           </span>
         <ul id="triggerlist">
           <li>Triggers <%= link_to("+", new_trigger_path(:fence_id=>fence.id), :class => "bigplus") %></li>
           <% fence.triggers.each do |trigger| %>
             <li> <%= link_to "#{trigger.action} #{trigger.extra_display}", edit_trigger_path(trigger) %>
                  <%= link_to "delete", trigger_path(trigger), :method => :delete, :class => "commandword" %>
                  <% if  trigger.triggered? %>
                    Sprung at <%= trigger.triggered_at %>
                  <%= link_to "reset", {:controller => :triggers,
                                        :action => :reset,
                                        :id => trigger.id}, :class => "commandword" %>
                  <% else %>
                    Not triggered
                  <% end %>
             </li>
           <% end %>
         </ul>
      </li>
    <% end %>
  </ul>
 </div>

 <br clear="all" />

 <div class="folder">
  <h4> Misc. </h4>
  <ul>
  <li>
    <% if user.oauth_access_for?("foursquare") %>
      FourSquare Connected.
      <%= link_to "disconnect", {:controller => :oauth, :action => :disconnect, :id => "foursquare"},
                                {:class => "commandword"} %> 
    <% else %>
      <%= link_to "Connect to FourSquare", :controller => :oauth, :action => :connect, :id => "foursquare" %> 
    <% end %>
  </li>
  <li><%= link_to "logout", :controller => :session, :action => :logout %> </li>
  </ul>
 </div>

 <br clear="all"/>
</div>
