<% user = current_user %>

<div class="folderfolder">
 
 <div class="folder">
  <h4> Position </h4>
  <% if current_user.locations.count > 0 %>
  Last update: <%= time_ago_in_words(current_user.locations.last.created_at) %>  <br/>
  <% end %>
  Location records: <%= number_with_delimiter(Location.count_for_user(user)) %>  <br/>
 </div>

 <div class="folder">
  <h4> Maps </h4>
  <%= link_to "Your Map Page", "/locations?id=#{user.openidentities.first.url}" %> <br/>
  <%= link_to "Your Mobile Location Page", "/m?id=#{user.openidentities.first.url}" %> <br/>
  <%= link_to "Your Day Chart Page", "/daychart?id=#{user.openidentities.first.url}" %> <br/>
 </div>

 <div class="folder">
  <h4> Profile </h4>
  OpenId: 
  <% user.openidentities.each do |openid| %>
    <%= openid.url %> <br/>
  <% end %>
   Username: <%= user.username %> <br/>
 </div>

 <div class="folder">
  <h4> Access </h4>
  Status: <b><%= user.access_status %></b> <br/>
  <% form_for :user, user, :url=>{:controller => :users, :action => user.username}, :html => { :method => :put } do |f| %>
  Change status:
    <%=  radio_button_tag "user[access_status]", :public, user.access_status == 'public' %> public
    <%=  radio_button_tag "user[access_status]", :private, user.access_status == 'private' %> private
    <br/>
    <%= submit_tag %>
  <% end %>
  Private - Only you can see your map page<br/>
  Public - Anyone can see your map page<br/>
 </div>

 <div class="folder">
  <h4> GeoFences <%= link_to "+", new_fence_path %> </h4>
  <ul>
    <% current_user.fences.each do |fence| %>
      <li> <%= truncate(fence.name, :length => 20) %> 
           <% if current_user.locations.last %>
           - <%= fence.contains?(current_user.locations.last) ? "Inside" : "Outside" %> 
           <% end %>
           - <%= fence.count_points %> pts 
           - <%= "%0.2f" % (fence.area_in_sq_ft) %> sq.km.</li>
    <% end %>
  </ul>
 </div>

 <div class="folder">
  <h4> Triggers <%= link_to "+", new_trigger_path %> </h4>
  <ul>
    <% current_user.triggers.each do |trigger| %>
      <li> <%= link_to "\"#{truncate(trigger.name, :length => 20)}\" <br/>#{trigger.fence ? trigger.fence.name : ""} *#{trigger.action} #{trigger.extra} <br/> Triggered?: #{trigger.triggered? ? "Sprung at #{trigger.triggered_at}":"No"} ", edit_trigger_path(trigger) %> </li>
    <% end %>
  </ul>
 </div>

 <div class="folder">
  <h4> Misc. </h4>
  <%= link_to "logout", :controller => :session, :action => :logout %>
 </div>

 <br clear="all"/>
</div>
