   <script src="/javascripts/raphael-1.4.3-min.js"></script>
   <script>
    Event.observe(window, 'load', function() { start() });

    function start() {
      var width = 500;
      var height = 200;
      var paper = Raphael(document.getElementById("chart"), width, height);

      var midpoint = height/2;
      var c = paper.path("M0 "+midpoint+"L"+width+" "+midpoint);
      var marks = <%= @buckets.inspect %>;
      for (var idx = 0; idx < marks.length; idx++) {
        //var c = paper.circle(idx, 190, marks[idx]*5);
        var cell_width=width/slots;
        var c = paper.rect(idx*cell_width, 0, cell_width, marks[idx]*5);
        c.attr("fill", "blue");
      }
    }
   </script>

DayChart. <%= @locations.size %> locations from <%= @locations.first.timestamp %> to <%= @locations.last.timestamp %>

<div>
  <%= @locations.first.timestamp.strftime("%a %I%p") %>
  <span id="chart">
  </span>
  <%= @locations.last.timestamp.strftime("%a %I%p") %>
</div>

