   <script src="/javascripts/raphael-1.4.3-min.js"></script>
   <script>
    Event.observe(window, 'load', function() { start() });

    function start() {
      var width = 800;
      var height = 200;
      var slots = 288;
      var paper = Raphael(document.getElementById("chart"), width, height);

      var midpoint = height/2;
      var c = paper.path("M0 "+midpoint+"L"+width+" "+midpoint);
      var marks = <%= @buckets.inspect %>;
      var cmarks = <%= @cbuckets.inspect %>;
      for (var idx = 0; idx < marks.length; idx++) {
        //var c = paper.circle(idx, 190, marks[idx]*5);
        var cell_width=width/slots;
        var cell_height = marks[idx]*5;
        var c = paper.rect(idx*cell_width, midpoint-cell_height, cell_width, cell_height);
        c.attr("fill", "blue");

        cell_height = cmarks[idx]*5;
        c = paper.rect(idx*cell_width, midpoint, cell_width, cell_height);
        c.attr("fill", "red");
      }
    }
   </script>

DayChart. 
<%= @period_start %> to <%= @period_end %> in <%= @periods %> periods of <%= @period / 60 %> minutes <br/>
<%= @locations.size %> <span style="color:blue">locations</span>  <br/>
<%= @communications.size %> <span style="color:red">communications</span>  <br/>

<div>
  <%= @period_start.strftime("%a %I%p") %>
  <span id="chart">
  </span>
  <%= @period_end.strftime("%a %I%p") %>
</div>

