<% if flash[:notice] %>
<%= flash[:notice] %> <br/>
<% end %>
<% if @locations %>
last <%= @locations.size %> locations found for <%= params[:id] %> <%= params[:lat] %> <%= params[:long] %> - most recent communication was <%= time_ago_in_words(@locations.first.created_at) %> <br/>

<%= google_map(@locations, :width => "90%", :height => "400px",
                           :controls => [:zoom],
                           :inject_on_load => <<__JS__, :partial => "dashboard/location")
  function resize_map() { 
    $('google_map').style.height = "" + window.innerHeight + "px";
  }
  Event.observe(document.onresize ? document : window, "resize", resize_map);
  resize_map();
__JS__
%>


<% end %>
<!-- <% form_for @new_location do |f| %>
  id: <%= f.text_field(:guid, :size => 10) %>
  lat: <%= f.text_field(:latitude, :size => 7) %>
  long: <%= f.text_field(:longitude, :size => 7) %>
  alt: <%= f.text_field(:altitude, :size => 3) %>

  <%= f.submit %>
<% end %> -->

<table>
<% @locations.each do |location| %>
  <tr>
    <td> <%= location.guid %> </td>
    <td> <%= location.created_at %> </td>
    <td> <%= location.geom.y %> </td>
    <td> <%= location.geom.x %> </td>
    <td> <%= location.accuracy %> </td>
  </tr>
<% end %>
</table>
