<% content_for :header do %>
  <%= auto_discovery_link_tag(:rss, "locations.rss?id=#{params[:id]}") %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"> </script>
<% end %>

<% if flash[:notice] %>
  <%= flash[:notice] %> <br/>
<% end %>

<p style="margin-top: 0px; margin-left: 3%">
 <% if @locations.size > 0 %>
  Mapping last <%= @locations.size %> locations for 
  <%= params[:id] %> <%= params[:lat] %> <%= params[:long] %> .
  <br/>
  Most recent fix was 
  <%= time_ago_in_words(@locations.first.timestamp) %> ago.
  and most recent communication was 
  <%= time_ago_in_words(@communicate.created_at) %> ago.
  <br/>
  <span id="nearest_address" />
 <% else %>
  No locations updates were found.
 <% end %>
</p>

<!-- Google Maps -->
<div id="map_canvas" style="width: 80%; height: 400px; margin-left:auto; margin-right: auto"></div>

<script type="text/javascript">
  document.observe("dom:loaded",mapstart);

  function mapstart() {
    var locations = <%= @locations.to_json %>;
    var markers = [];
    var bounds = new google.maps.LatLngBounds();
    for(var i=0, len=locations.length; i < len; i++) {
      var location = locations[i].location;
      var marker_image;
      var scale;
      var point = new google.maps.LatLng(location.geom.y, location.geom.x);
      if (i == 0) {
        marker_image = "<%= url_for "/images/gmaps/mm_20_red.png"%>";
        scale = 1.1;
        var geocodeOpts = {location: point};
        (new google.maps.Geocoder()).geocode(geocodeOpts, showAddress);
      } else {
        marker_image = "<%= url_for "/images/gmaps/mm_20_blue.png"%>";
        scale = 1.0 - ((i<4 ? i+1 : 4)*0.1);
      }
      var shadow = "<%= url_for "images/gmaps/mm_20_shadow.png"%>";
      var size = new google.maps.Size(12*scale, 20*scale);
      var shadowSize = new google.maps.Size(22*scale, 20*scale);
      var iconAnchor = new google.maps.Point(6, 20);
      var infoWindowAnchor = new google.maps.Point(5, 1);
      //var iconOpts = {url:marker_image, size:size, anchor:iconAnchor};
      var iconOpts = {url:marker_image};
      tinyIcon = new google.maps.MarkerImage(marker_image);
      // Set up our GMarkerOptions object literal
      markerOptions = { icon:tinyIcon,
                        position: point };
      markers[i] = new google.maps.Marker(markerOptions);
      bounds.extend(point);
    }

    var mapOptions = {
      zoom: 14,
      center: bounds.getCenter(),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    map.fitBounds(bounds);
    for(var i=0, len=markers.length; i < len; i++) {
      var marker = markers[i];
      marker.setMap(map);
    } 
  }

  function showAddress(addrs, status) {
    if (status == "OK") {
        pieces = addrs[0].address_components;
        place = pieces[0].long_name + " " + pieces[1].long_name + "," +  pieces[2].long_name;
        $('nearest_address').innerHTML = "Nearest street address: " + place;
    }
  }
</script>

<div id="battery_graph" style="width: 90%; margin-left:auto; margin-right: auto; margin-top: 20px">
  <!-- Google Charts -->
  <% 
  chart_points = @locations.reverse.map(&:batterylevel).map{|v| v.nil? ? 0 : v} 
  max = chart_points.max
  min = chart_points.min
  %>
  <img src="http://chart.apis.google.com/chart?cht=lc&chs=600x60&chd=t:<%=chart_points.join(',')%>&chds=<%=min%>,<%=max%>&chl=%25%20battery%20remaining&chxt=y&chxr=0,<%=min%>,<%=max%>" />
</div>

<div id="speed_graph" style="width: 90%; margin-left:auto; margin-right: auto">
  <!-- Google Charts -->
  <% 
  chart_points = @locations.reverse.map(&:velocity).map{|v| v.nil? ? 0 : v} 
  max = chart_points.max
  min = chart_points.min
  %>
  <img src="http://chart.apis.google.com/chart?cht=lc&chs=600x60&chd=t:<%=chart_points.join(',')%>&chds=<%=min%>,<%=max%>&chl=velocity+in+m/s&chxt=y&chxr=0,<%=min%>,<%=max%>" />
</div>

Total records: <%= Location.count(:conditions => {:user_id => @user.id}) %>
