<div style="background: grey">
<% if flash[:notice] %>
<%= flash[:notice] %> <br/>
<% end %>

<% if @location %>
  <p>
  <%= image_tag 'docs/icon.png', {:width => 35}%> IceCondor last heard from
  </p>
  <div class="colorbar bigger">
    <%= params[:id] %>
  </div>
  <p>
  <%= image_tag 'clock.png' %> At
  </p>
  <div class="colorbar bigger">
    <%= time_ago_in_words(@location.created_at) %> ago.
  </div>
  <p>
  <%= image_tag 'globe.png' %> Near address
  </p>
  <div class="colorbar bigger">
    <span id="nearest_address"/>
  </div>
<% else %>
  No locations updates or bad user id.
<% end %>
</p>

</div>
<script type="text/javascript">
  function initialize() {
    if (GBrowserIsCompatible()) {
      geocoder = new GClientGeocoder();
      point = new GLatLng(<%=@location.geom.y%>, <%=@location.geom.x%>)
      $('nearest_address').innerHTML = "looking up street address... ";
      geocoder.getLocations(point, showAddress);
    }
  }
  function showAddress(response) {
    if (!response || response.Status.code != 200) {
        alert("Status Code:" + response.Status.code);
          } else {
        place = response.Placemark[0];
        $('nearest_address').innerHTML = place.address;
    }
  }
</script>
