<style>
  div#loginbox img {border-width:0px;}
</style>
<script>
  function show_openid_field() {
    Element.replace('openidlink', '<%= text_field_tag 'openid_identifier' %>');
    $('openid_identifier').focus();
  }
</script>
<div id="loginbox">
  <span style="float: left">
  <%= link_to 'IceCondor', :root %>
  </span>
  <span style="text-align: right">
  <% form_tag({:controller => :session, :action => :login}, {:id => 'loginform'}) do %>
  <% if logged_in? %>
    <% username = current_user.username %>
    <%= link_to "#{username}@icecondor.com", :controller => :users,
                           :action => username %>
  <% else %>
    <%= image_tag 'openid_small_logo.png' %> 
    <%= link_to 'Login with OpenID', "#" , {:id => 'openidlink', 
                                            :onclick => "show_openid_field()"} %>
  <% end %>
  <% end %>
  </span>
</div>
