<style>
  div#loginbox img {border-width:0px;}
</style>
<script>
  function show_openid_field() {
    Element.replace('openidlink', 'e-mail address: <%= text_field_tag 'openid_identifier', nil, :size => 30 %> <%= image_tag 'openid_small_logo.png', :alt => "OpenID logo", :title => "an OpenID also works" %>');
    $('openid_identifier').focus();
  }
</script>
<div id="loginbox">
  <span style="float: left">
  <%= link_to 'IceCondor', :root %>
  </span>
  <div style="text-align: right; padding-right: 1em">
  <% form_tag({:controller => :session, :action => :login}, {:id => 'loginform'}) do %>
    <% if logged_in? %>
      <% username = current_user.username %>
      <%= link_to "#{username}@icecondor.com", :controller => :users,
                                               :action => username %>
      <%= link_to "logout", logout_path %>
    <% else %>
      <%= link_to 'Login', "#" , {:id => 'openidlink', 
                                            :onclick => "show_openid_field()"} %>
    <% end %>
  <% end %>
  </div>
</div>
